akka 
{
	stdout-loglevel = ERROR
	loglevel = ERROR
	log-config-on-start = on   

	actor 
	{
		debug 
		{  
			  receive = on 
			  autoreceive = on
			  lifecycle = on
			  event-stream = on
			  unhandled = on
		}
		
		provider = remote
	}

	remote 
	{
		dot-netty.tcp 
		{
			port = 9999
			hostname = localhost
		}
	}

	persistence
	{
		journal
		{
			plugin = "akka.persistence.journal.file"
			file
			{
				class = "PersistencePlugins.FileJournal, PersistencePlugins"
				plugin-dispatcher = "akka.actor.default-dispatcher"
				folder = "d:\\temp\\akkajournal"
			}
		} 
	}
}
